{% extends 'base.html.twig' %}

{% block body %}

{# the image lives at "public/images/t.jpg" #}
<style type="text/css">
    body{
                   background: url("{{ asset('images/t.jpg') }}");
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    }
    img{margin-left: 250px;
    margin-bottom: 100px ;}
</style>

{# the image lives at "public/images/2.jpg" #}
{# the image lives at "public/images/3.jpg" #}
{# the image lives at "public/images/4.jpg" #}
{# the CSS file lives at "public/css/style.css" #}
<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>



            <div id="banniere_image"></div>
    <center><h1>Cultura</h1></center>

    <section id="bd">




    
    <center><img src="{{ asset('images/2.jpg') }}" alt="Photo"  height="600px" width="300px" "/></center>          <center><img src="{{ asset('images/3.jpg') }}" alt="Photo" height="600px" width="300px" /></center>    <center><img src="{{ asset('images/4.jpg') }}" alt="Photo" height="600px" width="300px" /></center>

    </div>;



</section>



{% endblock %}
